.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(129,0,162);
    position: sticky;
    top: 0;
    z-index: 100;
   
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:rgba(245, 236, 236, 0.959);
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option2{
    color: white;
    margin-left:  1200px;;
}
